@{
    ViewBag.Title = "Customers Home Page";
}
<div style="color:lightblue">
    Welcome to the customers demo. This showcases an MVC application calling into a WebApi application. It
    also shows off some of the cool new features of .NET Core.
</div>
