@*Configuration: Here we are passing in the IOptions from the controller and using it for the Title*@
@using Microsoft.Extensions.Options;
@using CustomersMVC;

@model IOptions<HomeControllerOptions>

@{
    ViewData["Title"] = Model.Value.Title;
}
<div>
    <h1>ASP.NET Core MVC Demo</h1>
    <p>
        Welcome to the @Model.Value.Title. This showcases an MVC application calling into a WebApi application. It
        also shows off some of the cool new features of .NET Core.
    </p>
</div>
